<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalBankAccount1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name> dispatcher </display-name>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class> org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>dispatchOptionsRequest</param-name>
      <param-value> true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s</display-name>
    <servlet-name>s</servlet-name>
    <servlet-class>com.cg.bankaccount.s</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantController</display-name>
    <servlet-name>ApplicantController</servlet-name>
    <servlet-class>com.cg.bankaccount.ApplicantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantController</servlet-name>
    <url-pattern>/ApplicantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EligibilityController</display-name>
    <servlet-name>EligibilityController</servlet-name>
    <servlet-class>com.cg.bankaccount.EligibilityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EligibilityController</servlet-name>
    <url-pattern>/EligibilityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncomeController</display-name>
    <servlet-name>IncomeController</servlet-name>
    <servlet-class>com.cg.bankaccount.IncomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeController</servlet-name>
    <url-pattern>/IncomeController</url-pattern>
  </servlet-mapping>
</web-app>